// -----------------------------------------------------------------------------
// This section contains all styles related to the main header of the site (.site-header)
// -----------------------------------------------------------------------------

.site-header {
    @include margins(0, 0, 1, 0);
    padding: $base-spacing $base-spacing 0 $base-spacing;
    border-bottom: 1px solid $grey;
    background-color: $black;
    color: $white;

    .header-content {
        position: relative;
        max-width: $max-width/1.5;
        margin: auto;
        .site-title {
            margin: 0 0 0 -3px;
            word-break: break-word;
            font-size: 2rem;
            line-height: 1;
        }
        ul {
            margin: 0;
        }

        // display grid at desktop size

        @include breakpoint(large) {
            display: grid;
            gap: $base-spacing;
            padding: $base-spacing;

            .site-title {
                font-size: 3rem;
            }
            section {
                display: grid;

                &:first-of-type {
                    grid-column: 1;
                    justify-content: left;
                    display: flex;
                    flex-direction: column;
                    max-width: calc(100% - #{$base-spacing * 3});
                }
                &:nth-last-of-type(1) {
                    grid-column: 2;
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------
// This section contains all styles related to the article headers of the site. (.article-header)
// -----------------------------------------------------------------------------

.article-header {
    .date-published {
        @include margins(0, 0, 0.25, 0);
    }
    .header-content {
        @include max-width-flex;
        @include margins(0, 0, .5, 0);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .post-category {
            font-size: 0.7rem;
            text-transform: uppercase;
            padding: 0 $base-spacing * 3;
        }

        .article-title {
            margin: $base-spacing/4 0 $base-spacing/4 -3px;
        }

        .post-category {
            display: inline-block;
            padding: $base-spacing/2.5 $base-spacing/2.5 $base-spacing/2.5 0;
        }

        // adjust flex directions at desktop size

        @include breakpoint(large) {
            @include margins(0, 0, 0.5, 0);
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .article-title {
                margin: auto 0 auto -3px;
            }
            .post-category {
                padding: $base-spacing/2.5 $base-spacing/2;
                border: 1px solid $grey;
            }
        }
    }
}