main[role="main"] {
    @include max-width-flex;

    section.the-content {
        @include margins(0, 0, 2, 0);
        order: 1;

        article {
            @include margins(0, 1, 1, 1);
            padding-bottom: $base-spacing;

            &:nth-child(n + 2) {
                padding-top: $base-spacing * 2;
                border-top: 1px solid $grey;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
        @include breakpoint(medium) {
            border-right: 1px solid $grey;
        }
        @include breakpoint(large) {
            article {
                @include margins(0, 1, 1, 0);
            }
        }
    }
}
