nav#main-menu {
    @include menu-expand;
    z-index: 9999;

    a {
        display: block;
        padding-left: 0;
        text-decoration: none;
    }
    &.responsive {
        display: grid;
        margin-bottom: $base-spacing;

        ul {
            z-index: 9998;
            margin-top: 0;
            list-style-type: none;
            padding: $base-spacing/4 $base-spacing;
            background: $grey;
            li {
                margin: 0 auto 0 auto;
                border-bottom: 1px solid $white;
                padding: $base-spacing/2 $base-spacing/2 $base-spacing/2 0;

                &:last-of-type {
                    border-bottom: none;
                }
                a {
                    display: block;
                    padding-left: 0;
                    text-decoration: none;
                }
            }
        }
        .search-container {
            padding: $base-spacing;
            margin-top: $base-spacing;
            background: $grey;
        }
    }
}

a.icon {
    position: absolute;
    top: $base-spacing/2;
    right: 0;
    margin: 14px 0 0 auto;
    width: 34px;
}

@include breakpoint(large) {
    a.icon {
        display: none;
    }
    nav#main-menu {
        margin: 0 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        ul {
            order: 2;
            display: inline-block;
            margin: 0;
            text-align: right;

            li {
                display: inline-block;

                a {
                    padding: $base-spacing/2 0 $base-spacing/2 $base-spacing/2;
                }
            }
        }
    }
}
