nav#main-menu {
    display: none;
    overflow: hidden;
    z-index: 9999;

    a {
        display: block;
        padding-left: 0;
    }
    &.responsive {
        @include margins(0, 0, 1, 0);
        display: grid;

        ul {
            z-index: 9998;
            list-style-type: none;
            padding: $base-spacing/4 0;

            li {
                border-bottom: 1px solid $white;
                padding: $base-spacing/2 $base-spacing/2 $base-spacing/2 0;
            }
        }
        .search-container {
            padding: $base-spacing;
            margin-top: $base-spacing;
        }
    }

    // desktop adjustments

    @include breakpoint(large) {
        margin: 0 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        ul {
            order: 2;
            text-align: right;

            li {
                display: inline-block;

                a {
                    padding: $base-spacing/2 0 $base-spacing/2 $base-spacing/2;
                }
            }
        }
        .search-container input {
            margin: 0;
        }
    }
}

// trigger for the mobile navigation is hidden on larger screens

a.icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 14px 0 0 auto;
    width: 34px;

    svg {
        fill: $white;
    }

    @include breakpoint(large) {
        display: none;
    }
}
