%button {
    padding: $base-spacing ($base-spacing * 2);
    background: $attention;
    color: $white;

    &:hover {
        box-shadow: $shadow;
        transition: all ease 0.1s;
    }

    &:active {
        box-shadow: inset $shadow;
        background: $grey;
    }
}

.button {
    @extend %button;
}
